table{
    border-collapse: collapse;
}
caption{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
td, th{
    border: 1px solid black;
    padding: 5px 10px;
}
tfoot > tr > td {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}